:root {
    --primary-color: #ADC178; /* Olivine */
    --secondary-color: #6C584C; /* Umber */ 
    --accent-color: #A98467; /* Chamoisee */
    --background-color: #F6F1E1; /* Ivory */
    --text-color: #343A40; /* Dark Gray */
}
/* Base styles */
body {
    font-family: 'Karla', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', serif;
    color: var(--secondary-color);
}

/* Navigation Bar */
.navbar {
    background-color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.8rem;
    color: var(--accent-color);
}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 1rem;
}

.navbar-nav .nav-link.active{
    color: var(--secondary-color);
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

/* Site Tagline */
.site-tagline {
    color: var(--accent-color);
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}

/* Primary color */
.primary-bg {
    background-color: var(--primary-color);
}

.primary-text {
    color: var(--primary-color);
}

/* Secondary color */
.secondary-bg {
    background-color: var(--secondary-color); 
}

.secondary-text {
    color: var(--secondary-color); 
}

/* Accent color */
.accent-bg {
    background-color: var(--accent-color); 
}

.accent-text {
    color: var(--accent-color); 
}

/* Button styles */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--accent-color); 
}

/* Footer styles */
.footer {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
}
