:root {
    --primary-color: #ADC178; /* Olivine */
    --secondary-color: #A97954; /* Chamoisee */
    --dark-green-color: #556B2F; /* Dark Olive Green */
    --accent-color: #C6D8A7; /* Parchment */
    --background-color: #F0EAD2; /* Tea Green */
    --text-color: #6C584C; /* Umber */
}
/* Base styles */
body {
    font-family: 'Karla', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    color: var(--text-color);
}

h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    color: var(--text-color);
}

/* Navigation Bar */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.8rem;
    font-style: italic;
    color: var(--text-color);
}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 1rem;
}

/* .navbar-nav .nav-link.active {
    color: var(--secondary-color);
} */

.navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

/* Site Tagline */
.site-tagline {
    color: var(--accent-color);
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}

/* Primary color */
.primary-bg {
    background-color: var(--primary-color);
}

.primary-text {
    color: var(--primary-color);
}

/* Secondary color */
.secondary-bg {
    background-color: var(--secondary-color); 
}

.secondary-text {
    color: var(--secondary-color); 
}

/* Accent color */
.accent-bg {
    background-color: var(--accent-color); 
}

.accent-text {
    color: var(--accent-color); 
}

/* Button styles */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--accent-color); 
}

/* Main content */
.main-bg {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 20px;
    /* padding-bottom: 30px; */
}

/* Index Page Styles */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.card-text {
    font-size: 1rem;
    color: var(--text-color);
}

.card-body {
    padding: 20px;
}

.card a.post-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.card a.post-link:hover {
    color: var(--accent-color);
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item .page-link {
    color: var(--text-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--accent-color);
    border-color: var(--primary-color);
}

.pagination .page-item .page-link:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Pattern Details styles */
.pattern-details {
    margin-top: 20px;
}

.text-mb {
    margin-bottom: auto;
}

.pattern-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pattern-details h3 {
    margin-top: 20px;
    color: var(--secondary-color);
}

.pattern-details ul {
    list-style-type: none;
    padding: 0;
}

.pattern-details ul li {
    margin-bottom: 15px;
}

.pattern-details table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.pattern-details table th,
.pattern-details table td {
    padding: 10px;
    border: none;
    background-color: var(--background-color);
}

.pattern-details table th {
    width: 20%;
    text-align: left;
    color: var(--secondary-color);
}

.pattern-details table td {
    width: 80%;
    text-align: left;
    color: var(--text-color);
}

/* Footer styles */
.footer {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
}
