
{% load static %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>{% block title %}Stitchin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your go-to place for knitting and crochet patterns">
    <meta name="keywords" content="knitting, crochet, patterns, yarn, wool, needle, hook">
    <meta name="author" content="Catrin Lam">
    <meta charset="UTF-8">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Playfair+Display+SC:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand d-none d-sm-block" href="{% url 'home' %}">
                <img src="{% static 'images/favicon.ico' %}" alt="Stitchin Logo" width="40" class="d-inline-block align-text-top">
                <span class="brand">Stitchin</span>
            </a>
            <a class="navbar-brand d-block d-sm-none" href="{% url 'home' %}">
                <img src="{% static 'images/favicon.ico' %}" alt="Stitchin Logo" width="40" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Patterns</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/patterns/create/' %}active{% endif %}" aria-current="page" href="{% url 'post_pattern' %}">Upload a Pattern</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/favourite/' %}active{% endif %}" aria-current="page" href="{% url 'favourite' %}">My Favourite</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- displaying Django messages -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="m-0 text-white">&amp;copy {% now "Y" %} Stitchin</p>
                    <p class="m-0 text-white">Made by Catrin Lam</p>
                    <p class="m-0 text-white">
                        <a href="{% url 'home' %}" class="text-white">Patterns</a> |
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_pattern' %}" class="text-white">Upload a Pattern</a> |
                        <a href="{% url 'favourite' %}" class="text-white">My Favourite</a> |
                        <a href="{% url 'account_logout' %}" class="text-white">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup'%}" class="text-white">Register</a> |
                        <a href="{% url 'account_login' %}" class="text-white">Login</a>
                        {% endif %}
                    </p>
                </div>
                <div class="col-12 text-center mt-2">
                    <p class="m-0 text-white">Follow us:
                        <a href="https://www.facebook.com" class="text-white"><i class="fab fa-facebook-square ms-3"></i></a>
                        <a href="https://www.twitter.com" class="text-white"><i class="fab fa-twitter-square ms-3"></i></a>
                        <a href="https://www.instagram.com" class="text-white"><i class="fab fa-instagram-square ms-3"></i></a>
                        <a href="https://www.youtube.com" class="text-white"><i class="fab fa-youtube-square ms-3"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/d7e50421d0.js" crossorigin="anonymous"></script>
    {% block extras %}
    {% endblock %}
</body>

</html>