{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center">Patterns</h1>
        </div>

        <!-- Search Bar -->
        <div class="col-12 mb-4 d-flex justify-content-center">
            <form method="get" action="{% url 'home' %}" class="w-50">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search for patterns or authors" value="{{ search_query }}">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>

        <!-- Pattern Entries Column -->
        <div class="col-12">
            <div class="row">
                {% for pattern in object_list %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <a href="{% url 'pattern_detail' pattern.slug %}" class="post-link">
                            {% if "placeholder" in pattern.image.url %}
                            <img src="{% static 'images/default.jpg' %}" class="card-img-top img-fluid" alt="placeholder for pattern image">
                            {% else %}
                            {% cloudinary pattern.image quality="auto" format="webp" class="card-img-top img-fluid"%}
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'pattern_detail' pattern.slug %}" class="post-link me-5">
                                    <h2 class="card-title">{{ pattern.title }}</h2>
                                </a>
                                {% if user.is_authenticated %}
                                <form method="post" action="{% url 'toggle_favourite' pattern.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary index-button">
                                        <span class="d-none d-lg-inline">
                                            {% if pattern in favourite_patterns %}
                                                <i class="fa-solid fa-heart"></i> In your Favourite
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i> Add to Favourite
                                            {% endif %}
                                        </span>
                                        <span class="d-inline d-lg-none">
                                            {% if pattern in favourite_patterns %}
                                                <i class="fa-solid fa-heart"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i>
                                            {% endif %}
                                        </span>
                                    </button>
                                </form>
                                {% endif %}
                            </div>

                            <hr>

                            <div class="d-flex justify-content-between">
                                <p class="card-text text-muted h6 me-3">
                                    {{ pattern.author.username }}
                                </p>
                                <p class="card-text text-muted h6">
                                    {{ pattern.created_at|date:"F j, Y" }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; PREVIOUS</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">NEXT &raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}