{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">{{ pattern.title }}</h1>
            <div class="d-flex justify-content-between">
                <p class="text-muted text-mb">by {{ pattern.author.username }}</p>
                <p class="text-muted text-mb">{{ pattern.created_at|date:"F j, Y" }}</p>
            </div>
            <hr>
            <div class="pattern-details row d-flex flex-wrap flex-md-nowrap">
                <div class="col-md-4">
                    {% if pattern.image %}
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.title }}" class="img-fluid mb-4 pattern-image">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="placeholder for pattern image" class="img-fluid mb-4 pattern-image">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3>Description</h3>
                    <p>{{ pattern.description }}</p>
                    <h3>Details</h3>
                    <table class="table">
                        <tr>
                            <th>Difficulty Level</th>
                            <td>{{ pattern.get_difficulty_level_display }}</td>
                        </tr>
                        <tr>
                            <th>Craft</th>
                            <td>{{ pattern.get_craft_display }}</td>
                        </tr>
                        <tr>
                            <th>Yarn Weight</th>
                            <td>{{ pattern.get_yarn_weight_display }}</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>{{ pattern.get_size_display }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ pattern.get_category_display }}</td>
                        </tr>
                        
                            {% comment %} {% for hook_needle in hooks_needles%}
                                <tr>
                                    <th>{{ hook_needle.get_type_display }}</th>
                                {% if hook_needle.get_hook_size_display %}
                                    <td> {{ hook_needle.get_hook_size_display }}</td>
                                {% endif %}
                                {% if hook_needle.get_needle_size_display %}
                                    <td> {{ hook_needle.get_needle_size_display }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %} {% endcomment %}


                        
                        {% if needle_displayed %}
                            <tr>
                                <th>Needle Size</th>
                                <td>
                                    {% for hook_needle in hooks_needles %}
                                        {% if hook_needle.get_needle_size_display %}
                                            {{ hook_needle.get_needle_size_display }}{% if not forloop.last %}<br>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if hook_displayed %}
                            <tr>
                                <th>Hook Size</th>
                                <td>
                                    {% for hook_needle in hooks_needles %}
                                        {% if hook_needle.get_hook_size_display %}
                                            {{ hook_needle.get_hook_size_display }}{% if not forloop.last %}<br>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}