{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">{{ pattern.title }}</h1>
            <p class="text-muted">by {{ pattern.author.username }}</p>
            <p class="text-muted">{{ pattern.created_at|date:"F j, Y" }}</p>
            <hr>
            <div class="pattern-details row d-flex flex-wrap flex-md-nowrap">
                <div class="col-md-4">
                    {% if pattern.image %}
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.title }}" class="img-fluid mb-4 pattern-image">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="placeholder for pattern image" class="img-fluid mb-4 pattern-image">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3>Description</h3>
                    <p>{{ pattern.description }}</p>
                    <h3>Details</h3>
                    <ul>
                        <li><strong>Difficulty Level:</strong> {{ pattern.get_difficulty_level_display }}</li>
                        <li><strong>Craft:</strong> {{ pattern.get_craft_display }}</li>
                        <li><strong>Yarn Weight:</strong> {{ pattern.get_yarn_weight_display }}</li>
                        <li><strong>Size:</strong> {{ pattern.get_size_display }}</li>
                        <li><strong>Category:</strong> {{ pattern.get_category_display }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}