{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ pattern.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <h1 class="display-4">{{ pattern.title }}</h1>
                {% if user.is_authenticated and pattern.author != user %}
                <form method="post" action="{% url 'toggle_favourite' pattern.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3">
                        {% if pattern in favourite_patterns %}
                            <i class="fa-solid fa-heart"></i> In your Favourite
                        {% else %}
                            <i class="fa-regular fa-heart"></i> Add to Favourite
                        {% endif %}
                    </button>
                </form>
                {% elif not user.is_authenticated %}
                <p class="mt-3"><a href="{% url 'account_login' %}">Log in</a> to add this pattern to your favourite.</p>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between">
                <p class="text-muted text-mb">by {{ pattern.author.username }}</p>
                <p class="text-muted text-mb">{{ pattern.created_at|date:"F j, Y" }}</p>
            </div>
            <hr>
            <div class="pattern-details row d-flex flex-wrap flex-md-nowrap">
                <div class="col-md-4">
                    {% if "placeholder" in pattern.image.url %}
                        <img src="{% static 'images/default.jpg' %}" alt="placeholder for pattern image" class="img-fluid mb-4 pattern-image">
                    {% else %}
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.title }}" class="img-fluid mb-4 pattern-image">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3>Description</h3>
                    <p>{{ pattern.description }}</p>
                    <h3>Details</h3>
                    <table class="table">
                        <tr>
                            <th>Difficulty Level</th>
                            <td>{{ pattern.get_difficulty_level_display }}</td>
                        </tr>
                        <tr>
                            <th>Craft</th>
                            <td>{{ pattern.get_craft_display }}</td>
                        </tr>
                        <tr>
                            <th>Yarn Weight</th>
                            <td>{{ pattern.get_yarn_weight_display }}</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>{{ pattern.get_size_display }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ pattern.get_category_display }}</td>
                        </tr>
                        {% if needle_displayed %}
                            <tr>
                                <th>Needle Size</th>
                                <td>
                                    {% for hook_needle in hooks_needles %}
                                        {% if hook_needle.get_needle_size_display %}
                                            {{ hook_needle.get_needle_size_display }}{% if not forloop.last %}<br>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if hook_displayed %}
                            <tr>
                                <th>Hook Size</th>
                                <td>
                                    {% for hook_needle in hooks_needles %}
                                        {% if hook_needle.get_hook_size_display %}
                                            {{ hook_needle.get_hook_size_display }}{% if not forloop.last %}<br>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="fa-solid fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card bg-trans mb-4 mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in comments %}
        <div class="p-2 >
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_at }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
          </div>
            {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-primary btn-edit"
                    comment_id="{{ comment.id }}">Edit</button>
                <button class="btn btn-secondary btn-delete"
                    comment_id="{{ comment.id }}">Delete</button>
            {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mt-3 mb-4">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-secondary btn-lg">Submit</button>
          </form>
          {% else %}
          <p><a href="{% url 'account_login' %}">Log in</a> to leave a comment</p>
          {% endif %}
        </div>
      </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
